.my-bg-photo {
  background: url('images/mmohwa.jpeg') no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.my-bg-photo * {
  position: relative;
  z-index: 10;
}

.my-bg-photo:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .65;
}

.my-custom-container {
  max-width: 800px;
}

.accordion .btn-link:focus {
  box-shadow: none;
}

.my-drawing {
  transition: all .33s ease-out;
}

.my-drawing:hover {
  transform: scale(1.054) rotate(15deg);
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}